<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="<tabname>" translate="label" sortOrder="100">
            <label><Tabname></label>
        </tab>
        <section id="<sectionname>" translate="label"  sortOrder="910" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label><Section Label></label>
            <tab><tabname></tab>
            <resource><VendorName_ModukeName::section_name>"</resource>
            <group id="<group_name>" translate="label" type="text" sortOrder="2" showInDefault="1" >
                <label><Group Label></label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
